<div class="container-fluid">
  <div *ngIf="selection === 'Background of DHIS 2'">
    <h3>Background of The District Health Information Software – Version 2</h3>
    <p>Computer based HMIS allows for a transition from a data (and paper)
    based HMIS to and action led HMIS. Particular strengths of a computer
    based HMIS enumerated below:</p>

    <ul>
      <li>
        <p>Promotes streamlining and standardisation of data
          records.</p>
      </li>
      <li>
        <p>Allows creation of an integrated warehouse, which supports
          combining data from different sources and conducting cross
          analysis.</p>
      </li>
      <li>
        <p>Facilitates Rationalisation of reporting flows</p>
      </li>
      <li>
        <p>Supports customised reporting.</p>
      </li>
      <li>
        <p>Makes possible various kinds of indicator based analysis</p>
      </li>
      <li>
        <p>Allows integration of various software applications such as GIS
          and Excel.</p>
      </li>
      <li>
        <p>Provides functionality to conduct data quality
          validation.</p>
      </li>
      <li>
        <p>Allows immediate on-line transmission of data / reports as and
          when required by the user</p>
      </li>
    </ul>

    <p>The District Health Information Software – Version 2 (DHIS 2) is
    Free and Open Source Software (FOSS) HMIS designed and developed under a
    global research and development initiative (called Health Information
    Systems Project – HISP) originating from the Department of Informatics,
    University of Oslo, Norway. The first version of DHIS application (DHIS
    1.3/1.4) was developed and subsequently upgraded on an ongoing base
    continuously upgraded in South Africa by HISP South Africa since 1997.
    This version was developed on Microsoft Office platform, and distributed
    freely. This application is currently the national standard in South Africa
    and being used in all the health facilities in the country. DHIS1.4
    is being used in many countries in Africa such as Ethiopia,
    Nigeria, Botswana, Tanzania, Zambia, and various other countries.</p>
    <p>In 2005, based on the various comments and feedback from the field
    level use, the University of Oslo initiated the process of developing
    the second version of DHIS. DHIS 1.4 was used primarily as the basis for the functional
    requirements. Using a modular structure DHIS2, was developed based on data
    warehousing principles. DHIS2 is built on free and open source (FOSS) Java based frameworks. It is
    platform independent, can run on both on-line and offline modes, is multi-language enabled and integrated
      with various other applications such as
    Geographic Information Systems and Microsoft Excel.</p>
    <p>The documentation provided in herewith, will attempt to provide a comprehensive overview of the
      application. Given the abstract nature of the application, this manual will not serve as a complete
      step-by-step guide of how to use the application in each and every circumstance,
      but rather will seek to provide illustrations and examples of how DHIS2 can be implemented in
      a variety of situations through generalized examples.</p>
  </div>
</div>
