<!--The content below is only a placeholder and can be replaced.-->

<dhis-menu></dhis-menu>



<!--&lt;!&ndash;&lt;!&ndash; Sidebar Holder &ndash;&gt;&ndash;&gt;-->
<!--<nav id="sidebar" style="margin-top: 50px" [ngStyle]="{width: property}" >-->
  <!--<div class="sidebar-header">-->
    <!--<h3>Bootstrap Sidebar</h3>-->
  <!--</div>-->

  <!--<ul class="list-unstyled components">-->
    <!--<p>Dummy Heading</p>-->
    <!--<li class="active">-->
      <!--<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>-->
      <!--<ul class="collapse list-unstyled" id="homeSubmenu">-->
        <!--<li><a href="#">Home 1</a></li>-->
        <!--<li><a href="#">Home 2</a></li>-->
        <!--<li><a href="#">Home 3</a></li>-->
      <!--</ul>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="#">About</a>-->
      <!--<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>-->
      <!--<ul class="collapse list-unstyled" id="pageSubmenu">-->
        <!--<li><a href="#">Page 1</a></li>-->
        <!--<li><a href="#">Page 2</a></li>-->
        <!--<li><a href="#">Page 3</a></li>-->
      <!--</ul>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="#">Portfolio</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="#">Contact</a>-->
    <!--</li>-->
  <!--</ul>-->

  <!--&lt;!&ndash;<ul class="list-unstyled CTAs">&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>&ndash;&gt;-->
  <!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--</nav>-->


<div id="mySidenav" class="sidenav" style="margin-top: 45px"  [ngStyle]="{width: property}">
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<!--&lt;!&ndash; Use any element to open the sidenav &ndash;&gt;-->
<!--<span onclick="openNav()">open</span>-->

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main" [ngStyle]="{marginLeft: margin}">

<div style="margin-top: 50px">
  <button *ngIf="navMode" class="btn btn-outline-primary" (click)="showSideNav()">Open</button>
  <button *ngIf="!navMode" class="btn btn-outline-primary" (click)="hideSideNav()">Close</button>
</div>

<!--<div style="margin-top: 50px">-->
  <!--<app-charts></app-charts>-->
<!--</div>-->

<div class="my-card-bundles">
  <div class="row">
    <div class="col">
      <div class="my-columns">
        <div class="card myown-card">
          kdkdkdkdkkd
        </div>

        <div class="card myown-card">
          kdkdkdkdkkd
        </div>


        <div class="card myown-card">
          kdkdkdkdkkd
        </div>


        <div class="card myown-card">
          kdkdkdkdkkd
        </div>


        <div class="card myown-card">
          kdkdkdkdkkd
        </div>


        <div class="card myown-card">
          kdkdkdkdkkd
        </div>

        <div class="card myown-card">
          kdkdkdkdkkd
        </div>


        <div class="card myown-card">
          kdkdkdkdkkd
        </div>

        <div class="card myown-card">
          kdkdkdkdkkd
        </div>

        <div class="card myown-card">
          kdkdkdkdkkd
        </div>


      </div>

    </div>
  </div>
</div>


</div>
