<div *ngIf="selection === 'Thematic layer 1 and 2'" >
  <h3>Thematic layer 1 and 2</h3>
  <p>The two thematic layer panels let you use your data for thematic mapping. All you need to do is selecting your
    desired indicator/dataelement-period-map combination, then the organisation unit level and finally the parent to define
    the boundary. If your database has coordinates for these organisation units they will appear on the map.</p>
  <p>You may choose between legend types: automatic and predefined. Automatic means that the application will create a
    legend set for you based on your what method, number of classes, low color and high color you select. Method alludes to
    the size of the legend classes. Set to Equal intervals they will be “highest map value – lowest map value / number of classes”.
    Set to Equal group count the legend creator will try to distribute the organisation units evenly. Choose Fixed bounds and you may
    define your own class break values, type e.g. “20,40,60” using a comma to separate each of them. The legend will appear
    as an even gradation from the start color to the end color. Predefined legend sets are described in  .</p>
  <p>Low radius and high radius only have effect on points (facilities) and decides the the circle radius
    for points with the lowest and highest value.</p>
  <p>The map view combo box lists all map views (favorites) saved by the user. The settings that are
    stored in the map view is automatically applied to the thematic map panel. Favorite map views are described in .</p>
  <p>All available layer options are now grouped together in the thematic layer menu, see picture below.</p>
  <p>Edit layer: Opens up the layer configuration window, see the thematic mapping screenshot.</p>
  <p>Refresh: Refreshes the map boundaries, data and legend. Usually not necessary.</p>
  <p>Clear: Clears the entire layer, i.e. the configuration window, the map and the legend panel.</p>
  <p>Filter: Opens up the filter window and lets you filter out organisation units from the map by value. See the picture below.</p>
  <p>Search: Opens up the search window and lets you search for and locate organisation units on the map. See picture below.</p>
  <p>Labels: Opens up the label window and lets you add labels to the organisation units on the map. See picture below.</p>
  <p>Opacity: Set the layer opacity/transparency to 10, 20, 30, 40, 50, 60, 70, 80, 90 or 100%. Higher values of opacity make the
    layer more transparent, so that the underlying layer is more visible. An opacity level of zero will provide a fully opaque layer.</p>
  <p>History: Provides you with a list of your 10 previous maps/selections. They are temporary and thus gone when the application is restarted.</p>
</div>


<div *ngIf="selection === 'Facility layer'"  >
  <h3>Facility layer</h3>
  <p>This layer displays icons that represent facilities based on the facility type. Currently,
    "Type" is the only supported group set. Polygons will not show up on the map, so make sure to select a facility
    level. Click an icon on the map to open the context menu with two options. "Show information sheet" provides you with data
    for several data elements for this organisation unit. The data element group and period type are "system settings"
    called "Infrastructural data elements" and "Infrastructural period type". The second option in the context menu is "Relocate" and
    lets you graphically move the organisation unit to a different location. The new coordinate will be stored permanently.</p>
</div>


<div *ngIf="selection === 'Symbol layer'">
  <h3>Symbol layer</h3>
  <p>This layer displays icons that represent areas/polygons like provinces, districts etc instead of facilities/points.
    Thus, in this layer you are not supposed to select a facility level, but instead a level of provinces, districts etc.
    In order to render this layer you need to create a predefined legend set of images, described in .</p>
</div>


<div *ngIf="selection === 'Register favorite map views'" >
  <h3>Register favorite map views</h3>
  <p>Click the "Favorite map views" button (star icon) on the toolbar to get the context menu. The first option
    is "Manage favorites" which opens up a window where you are supposed to type the name of the favorite and select the
    layer you want to save. If you are an administrator you can check the "System" checkbox to make the favorite
    available to all users. From the bottom combobox you may delete a favorite or add it to the DHIS 2 dashboard.</p>
</div>


<div *ngIf="selection === 'Register legend sets'" >
  <h3>Register legend sets</h3>
  <p>Example usage (vaccination coverage): Firstly, create the legends that are going to constitute the legend set.
    The first one could be "Low bad" (display name), 0 (start value), 30 (end value), red (color). Then create "Medium" / 30 / 70 / yellow
    and finally "High good" / 70 / 100 / green. Now, open the "legend set" panel, type e.g. "High is good" as display
    name and select the desired legends below. Multi-select your three legends by pressing and holding the Ctrl/Shift
    button when selecting. Then click the register button to store the legend set. Assign indicators/data elements to your legend
    set in one of the two last panels. Select the legend set in the combo box and multi-select items in the list below.
    Click the assign button to update the legend set. Please see the referred window in section 1.1.</p>
</div>


<div *ngIf="selection === 'Exporting/saving map images'" >
  <h3>Exporting/saving map images</h3>
  <p>Click the image icon on the map toolbar and the print window will open. Title: Image title,
    will appear as a headline in the image. Layers: Choose whether polygons, points or both will be printed. Width/Height:
    The pixel resolution of the image. Choose among the predefined "small" (800x600), "medium" (1190x880), "large"
    (1920x1200) or type the exact number of pixels yourself (type the number only, avoid text like "px"). If you want to exclude
    the legend from the image, untick the legend checkbox. Finally click the export button to print the image (PNG).
    Please see the referred window in section 1.1.</p>
</div>


<div *ngIf="selection === 'Measure distance'" >
  <h3>Measure distance</h3>
  <p>Click the two-way arrow icon on the map toolbar to enter measuring mode. Now, click your desired start
    location on the map and a dotted- line will follow the cursor toward your destination. Single click to create a line
    point, double click to finish the line. To exit measuring mode, click the toolbar icon again or close the window.</p>
</div>
