<div class="container-fluid">
  <div class="row">
  <div class=" col-2 help-subs" >

        <!--imported selected card from help-->
    <div class="card myown-card" >
      <div class="my-card-image">
        <div style="width: 100%; height: 250px; text-align: center" >
          <img src="../assets/icons/dashboard.png" style="width: 280px; height: 250px">
          <!--<img [src]="getIcon(app.launchUrl, app.icons)" style="width: 150px; height: 150px">-->
        </div>

        <div class="trial" style="width: 100%; height: 250px" >

          <div style="color: white">

          </div>



        </div>
      </div>
      <div class="my-card-label">
        {{selected.name}}
      </div>
    </div>

    <div>Options</div>

    <div class="card">
      <div class="more-set">
      <div class="option-list" *ngFor="let option of selected.options">
        <a href="#" (click)="settingOption(option)"
           [ngStyle]="{'background-color': selectedOption == option ?'#f1f1f1':''}">{{option}}</a>

      </div>
      </div>
    </div>
  </div>
  <div class=" col-10 help-main">
    <div class="card">

      <div *ngIf="selected.key === 'setting-dhis'" >
        <app-settings [selection]="selectedOption"></app-settings>
        <!--{{selected.key}}-->
      </div>

      <div *ngIf="selected.key === 'data-quality-functionality'" >
        <app-data-quality></app-data-quality>
      </div>

      <div *ngIf="selected.key === 'import-export'" >
        <app-import-export></app-import-export>
      </div>

      <div *ngIf="selected.key === 'datasets-forms'" >
        <app-data-sets></app-data-sets>
      </div>

      <div *ngIf="selected.key === 'organisation-unit'" >
       <app-org-units></app-org-units>
      </div>

      <div *ngIf="selected.key === 'about-dhis'" >
        <app-about-dhis></app-about-dhis>
      </div>

      <div *ngIf="selected.key === 'starting-dhis'" >
        <app-starting-dhis></app-starting-dhis>
      </div>

      <div *ngIf="selected.key === 'indicators'" >
        <app-indicators></app-indicators>
      </div>

      <div *ngIf="selected.key === 'user-management'" >
        <app-user-management></app-user-management>
      </div>

      <div *ngIf="selected.key === 'data-visualizer'" >
        <app-data-visualizer></app-data-visualizer>
      </div>

      <div *ngIf="selected.key === 'using-gis'" >
        <app-using-gis></app-using-gis>
      </div>

      <div *ngIf="selected.key === 'reports-module'" >
        <app-reports-module></app-reports-module>
      </div>

      <div *ngIf="selected.key === 'data-entry'" >
       <app-data-entry></app-data-entry>
      </div>

      <div *ngIf="selected.key === 'data-administration'" >
        <app-data-administration></app-data-administration>
      </div>

      <div *ngIf="selected.key === 'data-elements'" >
        <app-data-elements></app-data-elements>
      </div>





    </div>
  </div>
  </div>
</div>
