<div class="container-fluid">
  <div class="row">
  <div class=" col-2 help-subs">

        <!--imported selected card from help-->
    <div class="card myown-card" >
      <div class="my-card-image">
        <div style="width: 100%; height: 250px; text-align: center" >
          <img src="../assets/icons/dashboard.png" style="width: 280px; height: 250px">
          <!--<img [src]="getIcon(app.launchUrl, app.icons)" style="width: 150px; height: 150px">-->
        </div>

        <div class="trial" style="width: 100%; height: 250px" >

          <div style="color: white">

          </div>
          <a href="#">
            <button  class="btn btn-outline-primary my-button"
                     style="margin-top: 40%">use App</button></a>


        </div>
      </div>
      <div class="my-card-label">
        Sample
      </div>
    </div>

    <div>Options</div>

    <div class="card">
      <div class="option-list">
        <a href="#">kfldk</a>
        <a href="#">kfldk</a>
        <a href="#">kfldk</a>
        <a href="#">kfldk</a>
      </div>
    </div>
  </div>
  <div class=" col-10 help-main">
    <div class="card">jhfkjshjhdsj</div>
  </div>
  </div>
</div>
