<div class="container-fluid">
  <div class="row">
  <div class=" col-2 help-subs" >

        <!--imported selected card from help-->
    <div class="card myown-card" >
      <div class="my-card-image">
        <div style="width: 100%; height: 250px; text-align: center" >
          <img src="../assets/icons/dashboard.png" style="width: 280px; height: 250px">
          <!--<img [src]="getIcon(app.launchUrl, app.icons)" style="width: 150px; height: 150px">-->
        </div>

        <div class="trial" style="width: 100%; height: 250px" >

          <div style="color: white">

          </div>



        </div>
      </div>
      <div class="my-card-label">
        {{selected.name}}
      </div>
    </div>

    <div>Options</div>

    <div class="card">
      <div class="more-set">
      <div class="option-list" *ngFor="let option of selected.options">
        <a href="#">{{option}}</a>

      </div>
      </div>
    </div>
  </div>
  <div class=" col-10 help-main">
    <div class="card">

      <app-settings></app-settings>
      {{selected.key}}

    </div>
  </div>
  </div>
</div>
